body {
    background-color: #444444;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.author {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: gray;
}

.login-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
    border-style: solid;
    border-color: #0bff78;
    border-radius: 15vw;
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
    color: #ffffff;

    padding: 0;

    background-color: transparent;

    width: 4em;
    height: 4em;

    transition: transform ease-in-out 0.1s, color ease-in-out 0.1s, background-color ease-in-out 0.1s;
}

input {
    border-style: solid;
    border-color: #0bff78;
    border-radius: 15vw;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;

    padding: 0;
    margin-right: 20px;

    background-color: transparent;

    width: 11em;
    height: 4em;

    text-align: center;

    outline: none !important;

    transition: transform ease-in-out 0.1s, color ease-in-out 0.1s, background-color ease-in-out 0.1s;
}

input:hover {
    transform: scale(1.1);
}

.button:hover {
    transform: scale(1.1);
    background-color: #0bff78;
}

svg {
    margin: auto;
}

.login-form {
    padding-top: 4vh;
}

h1 {
    color: white;
    font-size: 3em;
    margin-bottom: 10px;
}

h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 3px;
    margin-top: 0;
    padding-top: 0;
}

.download-button {
    width: 120px;
    font-size: 20px;
    text-align: center;
    height: auto;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.file {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

h3 {
    font-size: 15px;
    color: #888888;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.file-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}


.form-body {
    //background-color: #0bff78;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}