body {
    background-color: #444444;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-body {
    width: 100px;
    height: 100px;
    background-color: #0bff78;
}